             
              <div   layout="column" class="bgblue50 profilebox" >
                    <img src="assets/images/a0.jpg" class="roundimg">
                    <div class="profiletext">
                        <strong > Arsalan Ahmed </strong>
                    </div>
                    <div class="profiletext"  >
                      arsalan@techlogix.com
                    </div>

              </div>
              <div layout="column" flex  layout-margin  layout-fill style="overflow-y: auto; max-height:{{LeftPanel}}px;" hide-sm >
                <md-list>
                   <md-subheader >Menu</md-subheader>
                   <md-list-item layout="row"   ng-repeat="menulink in menuwithoutsub" ng-click="navclick(-1)" style="min-height:30px; height:36px;" >
                     <div >
                       <i class="fa {{menulink.icon}} menugrey fa-lg"> </i>
                     </div>
                     <div flex >
                      <a href="#{{menulink.link}}">  <span class="navfont"> {{menulink.name}}</span> </a>
                     </div>

                  </md-list-item>
                  <div ng-repeat="menutoggle in menuwithsub">
                      <md-list-item  ng-class="menutoggle.class" layout="row"  layout-align="space-between center"  ng-click="navclick(menutoggle.index,menutoggle.wanted)"   style="min-height:30px; height:36px;" >
                        <div >
                            <i class="fa {{menutoggle.icon}} fa-lg menugrey">  </i>
                        </div>
                        <div flex>
                          <span class="navfont"> {{menutoggle.name}}</span>
                        </div>
                        <div>
                           <i class="fa fa-sort-desc fa-lg menugrey"  ng-animate="{enter: 'rotate', leave: 'rotateCounterwise'}" ng-class="{true: 'rotate', false: 'rotateCounterwise'}[!menutoggle.wanted]">  </i>
                        </div>

                     </md-list-item>
                      <div class="bgf3f3f3" >
                        <md-list ng-hide="menutoggle.wanted" class="animate-hide" >
                           <md-list-item ng-repeat="sub in menutoggle.subs" class="subnavfont" style="min-height:30px; height:36px;" >
                                <a href="#{{sub.link}}"  > {{sub.title}} </a>
                           </md-list-item>
                        </md-list>
                      </div>
                   </div>
                 </md-list>
              </div>
              <div>
                <md-list>
                   <md-list-item   style="min-height:36px; height:36px;" >
                          <i class="fa fa-info fa-lg menugrey" ></i><span class="navfont"> Help</span>
                   </md-list-item>
                   <md-list-item   style="min-height:36px; height:36px;" >
                          <i class="fa fa-sort-info fa-lg menugrey" ></i> <span class="navfont">Feedback </span>
                   </md-list-item>
                </md-list>
              </div>
              