<div class="bggreen" style="position:absolute; top:0px; width:100%; font-size: 18px;" layout="row" hide show-sm>
        <div  layout-wrap layout="row" layout-margin flex layout-align="space-between center" >

         <div  layout="row"  class="white" ng-hide="Search" >
           <md-button   class="md-icon-button" aria-label="More" ng-click="toggleLeft()">
               <md-icon   md-svg-icon="" class="fa  fa-th-list fa-lg  white" ></md-icon>
           </md-button>
            <span layout-margin > {{pageTitle}} </span>

         </div>
         <div  class="white" ng-hide="!Search" >
           <md-button class="md-icon-button" aria-label="More" ng-click="Search=!Search">
               <md-icon md-svg-icon="" class="fa fa-arrow-left fa-lg white" ></md-icon>
           </md-button>
         </div>
         <div  class="white" ng-hide="!Search" flex>
               <input type="text" class="searchinput" placeholder="Search"  />
         </div>
         <div layout="row" layout-align="start center"  >
            <div ng-hide="Search" >
              <md-button class="md-icon-button" aria-label="More"  ng-click="Search=!Search" >
                  <md-icon md-svg-icon="" class="fa fa-search white fa-lg" ></md-icon>
              </md-button>
            </div>
            <div ng-hide="Search" >
              <md-button class="md-icon-button" aria-label="More">
                  <md-icon md-svg-icon="" class="fa fa-cog white fa-lg" ></md-icon>
              </md-button>
            </div>
            <div ng-hide="Search" >
              <md-button class="md-icon-button" aria-label="More">
                  <md-icon md-svg-icon="" class="fa fa-ellipsis-v white fa-lg" ></md-icon>
              </md-button>

            </div>
            <div ng-hide="!Search" >
              <md-button class="md-icon-button" aria-label="More">
                  <md-icon md-svg-icon="" class="fa fa-microphone white fa-lg" ></md-icon>
              </md-button>

            </div>

         </div>
       </div>
       </div>